@{
  Layout = "_Layout";
}

@using AIUniversity.Models;

<h1>Students</h1>

@if (@Model.Count == 0)
{
  <h3>No Students have been added yet!</h3>
}
else
{
  <ul>
  @foreach (Student student in Model)
  {
    <li>@Html.ActionLink($"{student.StudentLastName}", "Details", new { id = student.StudentId})</li>
  }
  </ul>
}

<p>@Html.ActionLink("Add a new Student", "Create")</p>
