@{
  Layout = "_Layout";
}

<!-- HEADER FOR PAGE -->
<h1 id="header" class="header">Academics 🐄</h1>
<hr>

<!-- SUB-HEADER FOR PAGE -->
<div class="sub-header text-center">
  <h2>AI students actively engage in critical thinking and practical application of knowledge, equipping themselves to
    assume leadership roles in a dynamic and evolving global landscape.</h2>
</div>


<img src="~/cowGraduation.png" class="academics-banner" alt="Cow Academics Banner">

<div class="container academic-stats">
<hr>
  <div class="row">
    <div class="col-md-4">
      <h2 class="text-center">2,304</h2> 
      <h3 class="text-center">Faculty Members</h3>
    </div>
    <div class="col-md-4">
      <h2 class="text-center">5:1</h2>
      <h3 class="text-center">Student-to-faculty ratio</h3>
    </div>
    <div class="col-md-4"> 
      <h2 class="text-center">Nearly 200</h2>
      <h3 class="text-center">Graduate fields of study</h3>
    </div>
  </div>
  <hr>
</div>


<div class="sub-header text-center">
  <h2>Undergraduate Studies</h2>
  <br>
  <hr>
</div>

<div class="undergrad-section">

<img src="~/normalCow.JPG" class="undergrad-img" alt="Cow Academics Banner">
<div class="undergrad-text">
<h2 class="undergrad-card-title">Undergraduate Education</h2>  
<h3>AI Undergrad is your guide to undergraduate academics and opportunities run by the Vice Provost for Undergraduate Education.</h3>
</div>
</div>










