@{
  Layout = "_Layout";
}

<!-- HEADER FOR PAGE -->
<h1 id="header" class="header">Academics</h1>
<hr>

<!-- SUB-HEADER FOR PAGE -->
<div class="sub-header text-center">
  <h2>AI students actively engage in critical thinking and practical application of knowledge, equipping themselves to
    assume leadership roles in a dynamic and evolving global landscape.</h2>
</div>
