@{
  Layout = "_Layout";
}

<!-- HEADER FOR PAGE -->
<h1 id="header" class="header">Campus Life</h1>
<hr> 

<!-- SUB-HEADER FOR PAGE -->
<h2 class="text-center">Our vibrant residential campus serves as a sanctuary for a diverse and talented community of individuals hailing from across the globe, fostering an environment conducive to innovation and excellence.</h2>