@{
  Layout = "_Layout";
}

<!-- HEADER FOR PAGE -->
<h1 id="header" class="header">Campus Life</h1>
<hr> 

<!-- SUB-HEADER FOR PAGE -->
<h2 class="text-center">Our vibrant residential campus serves as a sanctuary for a diverse and talented community of individuals hailing from across the globe, fostering an environment conducive to innovation and excellence.</h2>

<div class="container align-items-center">
  <div class="row justify-content-center">
    <div class="col-sm-6 col-md-4">
      <div class="card card-padding">
        <img src="~/purpleCow2.png" class="card-img-top" alt="Card Image 1">
        <div class="card-body text-center">
          <h5 class="card-title">Recreation and Wellness</h5>
          <p class="card-text">Students, faculty, and staff enjoy state-of-the-art recreational facilities and wellness programs.</p>
          <a href="https://rec.stanford.edu/" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="card card-padding">
        <img src="~/cowPHYSIQUE.png" class="card-img-top" alt="Card Image 2">
        <div class="card-body text-center">
          <h5 class="card-title">Cardinal Athletics</h5>
          <p class="card-text">Students compete in 36 varsity sports and 43 club sports.</p>
          <a href="https://www.nba.com/games" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card card-padding">
        <img src="~/stackedCows.png" class="card-img-top" alt="Card Image 3">
        <div class="card-body text-center">
          <h5 class="card-title">BeWell</h5>
          <p class="card-text">AI University offers incentives, programs, and activities that promote health and wellness.</p>
          <a href="https://bewell.stanford.edu/" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>