@{
  Layout = "_Layout";
}

@using AIUniversity.Models;

<h1>Professors</h1>

@if (@Model.Count == 0)
{
  <h3>No professors have been added yet!</h3>
} 

<ul>
  @foreach(Professor professor in Model)
  {
    <li>@Html.ActionLink($"{professor.ProfessorLastName}, {professor.ProfessorFirstName}", "Details", new { id = professor.ProfessorId }, new { @class = "btn btn-primary mb-2" }) </li>
  }
</ul>

<p>@Html.ActionLink("Add new professor", "Create", null, null, new { @class = "btn btn-secondary mb-2" })</p>
