@{
  Layout = "_Layout";
}

@using AIUniversity.Models;

<!-- HEADER FOR PAGE -->
<h1 id="header" class="header">Upcoming Events</h1>
<hr> 

<!-- SUB-HEADER FOR PAGE -->
<h2 class="text-center">Discover possibilities for connecting with individuals, concepts, artistic expression, and knowledge throughout the campus.</h2>

<div class="container align-items-center">
  <div class="row justify-content-center">
    <div class="col-sm-6 col-md-4">
      <div class="card card-padding">
        <img src="~/purpleCow2.png" class="card-img-top" alt="Card Image 1">
        <div class="card-body text-center">
          <h5 class="card-title">Moo Symphony</h5>
          <p class="card-text">Cow Moo Symphony (Instrumental Classical) .</p>
          <a href="https://www.sfsymphony.org/About-SFS/Press-Room/Photo-Library/Davies-Symphony-Hall1" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="card card-padding">
        <img src="~/orangeCow2.png" class="card-img-top" alt="Card Image 2">
        <div class="card-body text-center">
          <h5 class="card-title">Jake Owen</h5>
          <p class="card-text">Country Music Festival at Morgan Hill Outdoor Sports Center, Silicon Valley country music concert in 2022. It's all about celebrating good friends, cold beer, and great Country music! </p>
          <a href="https://visitmorganhill.org/event-calendar-detail/boots-and-brews-country-music-festival" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card card-padding">
        <img src="~/greenCow.png" class="card-img-top" alt="Card Image 3">
        <div class="card-body text-center">
          <h5 class="card-title">GUGLIELMO WINERY</h5>
          <p class="card-text">Guglielmo Winery - Vines & Vibes Summer Concert Series with Sound Decision.</p>
          <a href="https://visitmorganhill.org/event-calendar-detail/guglielmo-61423" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card card-padding">
        <img src="~/stackedCows.png" class="card-img-top" alt="Card Image 4">
        <div class="card-body text-center">
          <h5 class="card-title">Summertime Radness</h5>
          <p class="card-text">Line-Up: Bakermat.</p>
          <a href="https://ra.co/events/1680471" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card card-padding">
        <img src="~/partyCow.png" class="card-img-top" alt="Card Image 5">
        <div class="card-body text-center">
          <h5 class="card-title">Anderson Collection Student Guide Tours</h5>
          <p class="card-text">Join us in person every Saturday and Sunday for a docent-led tour of our collection. No reservation for the tour is required. </p>
          <a href="https://events.stanford.edu/event/anderson_collection_public_tours" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="card card-padding">
        <img src="~/blueCow.png" class="card-img-top" alt="Card Image 6">
        <div class="card-body text-center">
          <h5 class="card-title">Human Library</h5>
          <p class="card-text">Mountain View Library.</p>
          <a href="https://www.kron4.com/community/calendar/?_escaped_fragment_=/show/?start=2022-04-06#!/details/Human-Library/11963848/2023-06-24T14" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>


