@{
  Layout = "_Layout";
}

<!-- HEADER FOR PAGE -->
<h1 id="header" class="header">About</h1>
<hr>

<!-- SUB-HEADER FOR PAGE -->
<div class="sub-header text-center">
  <h2>AI University, founded less than a week ago, is driven by a strong societal purpose. Our mission is to educate students for leadership and purposeful contribution, advance knowledge and creativity, and accelerate impactful solutions.</h2>
</div>

<img src="~/cow-about-banner.jpg" class="academics-banner" alt="about banner">
