@{
  Layout = "_Layout";
}

@model AIUniversity.Models.Dorm

<h4>Edit Dorm</h4>
<hr />

<p>@Html.ValidationMessageFor(model => model.DormName, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

<h4>Edit this dorm: @Html.DisplayFor(model => model.DormName)</h4>
<div class = "container">
  @using (Html.BeginForm())
  {
    <p>Dorm</p>
    <div class="row">
      <div class="col-6 col-md-2"><p>Name: </p></div>
      <div class="col-6 col-md-2">@Html.TextBoxFor(model => model.DormName)</div> 
    </div>
    <div class="row">
      <div class="col-6 col-md-2"><input type="submit" value="Save" class = "btn btn-primary mb-2"/></div>
      
    </div>
  }
  <br>
  <p>@Html.ActionLink("Show Dorms", "Index", null, null, new { @class = "btn btn-secondary mb-2" })</p>
</div>
