/* COLOR PALETTE IS AS FOLLOWS */
/* F5F0BB   LIGHT TAN GREEN (Background Color)
DBDFAA   LIGHT GREEN
B3C890   DARKISH GREEN
73A9AD   BLUEISH GREEN */

div#footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	color: black;
	background: #B3C890;
	padding: 8px;
}

body {
	background-color: #F5F0BB;
}

/* .center {
	float: right;
	width: 70%;
} */

.navbar {
	background-color: #73A9AD;
}

.navbarbg-top {
	background-color: #003300;
}

.navbar a {
	float: left;
	padding: 12px;
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-size: 24px;
	width: 100%;
	/* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
	text-align: center;
	/* If you want the text to be centered */
}

#header {
	text-align: center;
}

img {
	display: block;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
	height: 10%;
}

.card-padding {
	padding-top: 3rem;
	margin: 3rem
}

.btn-primary {
	background-color: #548588;
}

.btn-primary:hover,
.btn-primary:focus {
	background-color: #003300;
	border-color: #003300;
}

.margin-box {
	margin: 5px;
}
.sub-header {
	margin: 2rem;
}

.header {
	margin: 2rem;
}

a.white-text {
	color: white;
}

.active {
	color: lightgreen;
}

/* ACADEMICS PAGE STYLES */

.academics-banner {
	margin-top: 4rem;
	margin-bottom: 5rem;
}

.academic-stats {
	margin-bottom: 7rem;
}

.undergrad-section {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10rem;
	margin-top: 5rem;
}

.undergrad-img {
	flex: 1 1 50%;
}

.undergrad-text {
	flex: 1 1 50%;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.undergrad-card-title {
	margin-bottom: 2rem;
}