@{
  Layout = "_Layout";
}

<h2>Authentication with Identity</h2>
<hr />

@if (User.Identity.IsAuthenticated)
{
  <p>Hello @User.Identity.Name!</p>

  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" value="Log out" class = "btn btn-warning mb-2"/>
  }
  
}
else
{
  <p>@Html.ActionLink("Register", "Register", null, null, new { @class = "btn btn-secondary mb-2" })</p>
  <p>@Html.ActionLink("Log in", "Login", null, null, new { @class = "btn btn-secondary mb-2" })</p>
}
